.login-form {
    width: 450px;
    height: 400px;
    border-radius: 20px;
    background-color: var(--color-neutral-20);
}

.login-form p,h2 {
    color: var(--color-neutral-80);
}

.login-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    background-color: var(--color-neutral-70);
}

.login-form button {
    margin-top: 2rem;
    width: 150px;
    height: 40px;
    background-color: var(--color-brand);
    font-size: var(--fs-md);
}

.error {
    color:#ff0000;
}