@import url("variables.css");

/* Typography*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--color-neutral-20);
  color: var(--color-neutral-90);
  font-size: 16px;
}

.app-header, .book-search-header {
  display:flex;
  justify-content: space-between;
  background-color:var(--color-brand);
  font-size: var(--fs-rg);
  position: sticky;
  top: 0;
  padding: 1rem 0.6rem;
  z-index: 999;
  padding-left: 2rem;
}
.app-header .logo {
  cursor: pointer;
}

.header-title, .book-search-title {
  align-items: flex-start;
  margin-left: 1rem;
  font-size: var(--fs-md);
  color: var(--color-neutral-10);
  cursor: pointer;
  
}

.login-section a{
  text-decoration: none;
  color:rgb(39, 39, 116);
  font-weight: var(--fw-bold);
  margin-right: 1rem;
}
.appMenu {
  text-decoration: none;
  
}
.appMenu li {
  text-decoration: none;
  z-index: 9000;
  background-color: var(--color-neutral-20);
}

.appMenu a {
  text-decoration: none;
  background-color: var(--color-neutral-10);
}

.toggle-view {
  padding: 1rem;
  border: 1px solid grey;
}

.search-icon-div {
  display: flex;
  align-items: center;
}

.search-box .search-icon:hover {
  transform: scale(1.15);
  transition: all 0.32 ease-in-out;
} 

.header-search {
  align-items: end;
  border-radius: 1px;
  border-style: none;
  padding: 0.6rem;
  width: 300px;
  margin-left: 30px;
}

.grid-view-book {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  grid-gap: 1rem;
  padding: 2rem;  
  justify-content: center;
}

.list-view-book {
  display: flex;
  width:90%;
  flex-direction: column;
  grid-gap: 1rem;
  padding: 2rem;  
}

.list-view-book h2 {
  color: var(--color-neutral-70);
}

.list-book-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-search-bar {
  display: flex;
  padding: 0.2rem;
}

.book {
  width: 250px;
  max-width: 1200px;
  padding: 0.6rem 1rem;
  background-color: var(--color-neutral-10);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-row-view {
  display:flex;
  max-width: 1200px;
  grid-gap: 2rem;
  flex-direction: row;
  padding: 2rem 1rem;
  border-bottom:1px solid rgba(0, 0, 0, 0.3);
  background-color:var(--color-neutral-10);
}

.book-row-view .book-cover {
  width: 180px;
  padding-top: 0;
}

.book-details-view-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 4rem 0 4rem;
  height: 92vh;
  background-color: var(--color-neutral-10);
}

.book-details-view .book-title {
  width: 100%;
  font-size: var(--fs-lg);
  padding-top: 0;
}
.book-details-view .book-title:hover {
  color: var(--color-neutral-100);
  cursor:text;
}

.book-detail-row {
  display: flex;
  flex-direction: row;
  gap:2rem;
  justify-items: flex-start;
  margin-bottom: 1rem;
}

.book-detail-row .label-text {
  flex-basis: 1;
  width: 100px;
}
.book-detail-row .content {
  flex: 5;
}

.book-detail-view .row {
   align-items: baseline;
}

.book-detail-row .book-description {
  color: var(--color-neutral-60);
}

.book-detail-row .book-category {
  color: var(--color-neutral-60);
  max-width: 150px;
  flex-grow: 0;
  padding: 0.4rem;
  font-size: var(--fs-sm);
  font-weight: var(--fw-bold);
  border-radius: 5px;
  color: var(--color-neutral-10);
  background-color:maroon;
}

.book-detail-row .book-rating {
  max-width: 30px;
  margin-right: 1rem;
  flex-grow: 0;
}


.book-details-view .book-cover {
  width: 400px;
  height: 500px;
  padding-top: 0;
}

.book-details-top-row {
  display:flex;
  flex-direction: row;
  gap: 4rem;
}

.book-details-view .book-cover > img {
  width: 100%;
  height: 100%;
}

.book-cover-wrapper {
  margin-right: 4rem;
}

.book-row-view .book-rating {
  width: 30px;
}

.book-row-view .book-title {
  width: 800px;
}

.book-list-view {
  display: flex;
  flex-direction:row-reverse;
}

.book-list-view h2{
  color: var(--color-neutral-30);
}
.book-title {
  color: var(--color-neutral-100);
  font-size: var(--fs-rg);
  width: 250px;  
}

.book-title:hover {
  color: blue;
  cursor: pointer;
}

.book-category {
  color: var(--color-neutral-50);
  font-size: var(--fs-sm);
}

.book:hover {
  border-width: 3px;
  border-color: var(--color-neutral-50);
}

.book-detail-view {
  display:flex;
  flex-direction: column;
  height: 136px;
  align-items: flex-start;
  align-content: flex-start;
  padding:8px 0 16px 8px;
  background-color: var(--color-neutral-10);
}

.book-detail-view div {
  margin: 2px;
}

.book-desc {
  font-size: var(--fs-rg);
  color: var(--color-neutral-100);
}

.fast-transition:hover {
  transform: scale(1.00);
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* outer div of book detail */
.book-details {
  width: 100%;
  height: auto;
  display: flex;  
  justify-content: center;
  flex-direction: row;
}

.book-detail {
  width: 500px;
  justify-content: center;
  padding: 2rem;
  border: 1px solid green;
}

.book-cover {
  display: flex;
  justify-content: center;
  width: 80%;
  padding-top: 1rem;
  align-items: center;
  height: 240px;
}

.book-cover:hover {
  cursor: pointer;
}

.cover-image {
  border-radius: 10px;
}

.book-detail .book-title {
  font-size: var(--fs-lg);
  color: var(--color-neutral-10);
  margin-bottom: 0.5rem;
}

.book-details-view {
  padding: 4rem;
}

#gotoWebsite {
  width: 100%;
  height: 50px;
  cursor: pointer;
  background-color: var(--color-brand);
  color: var(--color-neutral-10);
  font-size: var(--fs-md);
  align-self: flex-end;
}

#gotoWebsite:hover {
  background-color: var(--color-neutral-70);
}

.lighter-text {
  color: var(--color-neutral-40)
}

.column {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  flex-direction: column;
}

.mr-5 {
  padding-right: 5rem;
}

.pt-8 {
  padding-top: 8px;
}
.label-text {
  font-size: var(--fs-rg);
  color: var(--color-neutral-40);
}

.row {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.book-rating {
  color: var(--color-neutral-10);
  margin-top: 8px !important;
  font-size: var(--fs-xs);
  border-radius: 5px;
  font-weight: var(--fw-bold);
  background-color:green;
  padding: 4px;
}
.list-book .book-author strong, .list-book .book-rating strong {
  color: var(--color-neutral-90);
  font-weight: var(--fw-light);
}
.book-price {
  font-weight: var(--fw-bold);
  font-size:  var(--fs-rg);
}
.star-icon {
  padding-left: 4px;
  margin-top: 0;
}

.rating {
  color: var(--color-neutral-30);
  padding: 8px;
}

hr {
  border-color: var(--color-neutral-70);
}

.isbn, .pages {
  color: var(--color-neutral-50);
  padding: 4px;
  font-size: var(--fs-sm);
}

.book-description {
  color: var(--color-neutral-50);
  font-size: var(--fs-rg);
}

.search-box {
  display: flex;
}

.search-box .search-icon {
 width: 16px;
 height: 16px;
 left: -24px;
 color: var(--color-brand);
 position: relative;
}

.books-menu .menu {
  padding: 1rem;
  color: var(--color-neutral-60);
  background-color: var(--color-neutral-20);
  border-bottom: 1px red;
}
.books-menu .menu:hover {
  color:var(--color-neutral-90);
}

.books-menu .menu-item {
  list-style: none;
}

.books-menu .menu-items {
  padding-left: 0;
  margin-top: 0;  
}
.books-menu .menu-item {
  padding: 1rem;
  z-index: 1000;
  width: 100px;
  margin-left: 0;
  background-color: var(--color-neutral-20);
  color: var(--color-neutral-90);
}
.books-menu .menu-item:hover {
  background-color: var(--color-neutral-10);
  font-size: var(--fs-md);
}